.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 2em;
    color: whitesmoke;
}

.status-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .status {
        font-size: 1.5em;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &.nope {
            background-color: rgb(255, 87, 87);
        }

        &.jep {
            background-color: yellowgreen;
        }

        .nope-sidenote {
            margin-top: 5px;
            color: whitesmoke;
            font-size: 0.5em;
        }
    }
}
